body{
  background-image: url("assets/unnamed.jpg");
}

.logo{
  width: 150px;
  height: 100px;

}

a,
button{
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: antiquewhite;
  text-decoration: none;
  padding: 20px;
}

.nav-button {
  margin: 2%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4.5px;
  width: 120px;
  height: 40px;
  white-space: nowrap;
  padding-top: 8px;
}

.nav-bar {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: right;
  justify-items: right;
}

.mid-screen {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

.mid-screen-button {

  background-color: rgb(235, 165, 36);
  border-radius: 8px;
}
.middleScreen{
  width: 500px;
  height: 300px;
}
.bottom-logo {
  display: flex;
  width: 50%;
  height: 20%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 25%;
  margin-top: 3%;
}
.second-page {
  background: white;
}
.last-row {
  padding: 30px;
  margin: 0 30px 70px;
}

#featureTxt {
  margin-left: 45%;
}

.quote {
  margin-left: 25%;
}
